<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> API </
h1>
<!-- busca -->
    <form action="/buscar" method="post">
        <p>Busca:<input type="text" name="pesquisa" /></p>
        <p><input type="submit" value="Pesquisar" /></p>
    </form>
<!-- conversão -->
    <form action="/converter" method="post">
        Ingrediente:
        <select name="ingre">
            <option value="flour">flour</option> 
            <option value="valor2">Valor 2</option>
            <option value="valor3">Valor 3</option>
        </select>
        <p>Converter:</p>
        <input type="text" name="valor" id=valor />
        <select name="medicao_antes">
            <option value="cups">cups</option> 
            <option value="valor2">Valor 2</option>
            <option value="valor3">Valor 3</option>
        </select>
        
        <p>para :</p>
        <select name="medicao_depois">
            <option value="grams">grams</option> 
            <option value="valor2">Valor 2</option>
            <option value="valor3">Valor 3</option>
        </select>
        <button >Converter </button>
    </form>
    
        
</body>
</html>