<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1 class="text-center title-1"> Cadastro de Usu&aacute;rio </
h1>
    <form action="/pesquisar" method="post">
        <p>Busca:<input type="text" name="pesquisa" /></p>
        <p><input type="submit" value="Pesquisar" /></p>
    </form>
</body>
</html>